@using Application
@using Domain.Marketplace
@using Microsoft.AspNetCore.Server.Kestrel.Core
@using Newtonsoft.Json
@model Domain.Marketplace.IItem
@inject IGetIItemInformation _itemBL

<div class="Item" data-prices="@JsonConvert.SerializeObject(_itemBL.GetPricesByShop(Model))" data-item-type="@(Model is Dish ? "dish" : "product")" data-item-id="@Model.Id">
    <div class="text-center mb-3">
        <img src="@Model.ImageUri" alt="@Model.Name" class="Image dish-image">
    </div>
    <div class="d-flex flex-column flex-sm-row text-center text-sm-start Item-data mb-4">
        <div class="mb-3 mb-sm-0">
            <h5 class="lead Name">@Model.Name</h5>
            <h6 class="text-black-50 mb-2">
                <span class="Weight">@Model.Weight</span>
                <span> г.</span>
            </h6>
            <h4>
                <span class="Price"></span>
                <span> руб.</span>
            </h4>
        </div>
        <div class="d-flex flex-grow-1 justify-content-sm-end justify-content-center">
            <div class="Shop"></div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary delete-from-cart col" type="button" disabled>-</button>
        <input type="number" class="Count count-shop col text-center" value="0">
        <button class="btn btn-primary add-to-cart col" type="button">+</button>
    </div>
    @if (Model is Dish dish)
    {
        <div class="mt-5 mb-5">
            @{
                <h3 class="text-center">Состав</h3>
                <div class="row">
                    @foreach (var product in dish.Products.Select(productWrapper => productWrapper.Product))
                    {
                        <div class="col-md-3 col-6 product" data-prices="@JsonConvert.SerializeObject(_itemBL.GetPricesByShop(product))" data-info="@JsonConvert.SerializeObject(product)">
                            <div class="text-center">
                                <img class="product-image" src="@product.ImageUri" alt="@product.Name">
                            </div>
                            <h4 class="text-muted text-center product-text">@product.Name</h4>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>
