@using Application
@model Domain.Marketplace.IItem
@inject IGetIItemInformation _injector

<div>
    <img src="@Model.ImageUri" alt="@Model.Name" class="Image">
    <div class="Name">@Model.Name</div>
    <h5 class="Weight text-black-50">@Model.Weight</h5>
    <div class="row justify-content-between">
        <span class="Price col"></span>
        <select class="Shop form-select" data-prices="@_injector.GetPriceForShop(Model)"></select>
    </div>
    <div class="row justify-content-evenly">
        <button class="btn btn-primary delete-from-cart col" type="button">-</button>
        <input type="number" class="Count form-control col">
        <button class="btn btn-primary add-to-cart col" type="button">+</button>
    </div>
</div>
